<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400560719573-thmopjlrfd6cs2r4mqipr1eie8patlnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400560719573-thmopjlrfd6cs2r4mqipr1eie8patlnp</string>
	<key>API_KEY</key>
	<string>AIzaSyD80nNp_ZxGz_9fJnfxLX9s3njkMK9akUc</string>
	<key>GCM_SENDER_ID</key>
	<string>400560719573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-e3ee0</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-e3ee0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400560719573:ios:22f50c493809db12af845c</string>
</dict>
</plist>